.navbar {
  background-color: #E7E7DB;
  height: 4rem;
  font-size: smaller;
  color: #9D0A0E;
  display: flex;
  justify-content: center;
}

.under-nav {
  height: 5px;
  background-color: #9D0A0E;
}

.btn-primary, .btn-primary:focus {
  /* color: #9D0A0E; */
  background-color: #9D0A0E;
  border-color: #9D0A0E;
  border-radius: 12px;

}

.btn-primary:hover, .btn-primary:active {
  /* color: #9D0A0E; */
  background-color: #9d0a0fa9;
  border-color: #9d0a0f33;
  border-radius: 12px;

}

.btn-primary:disabled, .btn-primary.disabled {
background-color: #9d0a0fa9;
border-color: #9d0a0f14;
}

.card {
  background-color: #E7E7DB;
}

form {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  
}

.form-check-container {
  display: grid;
  grid-template-columns: 34% 21% 23% 18%;
}

.char-prof-title-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.char-name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
}

.char-prof-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: x-large;
}

.char-prof-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.list-group {
  border-width: 5rem;
}

.list-group-item {
  background-color: #f6f6e7;
  display: flex;
  justify-content: center;
  border-width: 3px;
}

.list-group-item:hover {
  background-color: #dfdfd1;
  transition: 0.2s;
}

.rand-traits-btn {
  width: fit-content;
}

.test-btn {
  background-color: green;
}

.test-btn:hover {
  background-color: orange;
}

.test-btn:active {
  background-color: black;
}